* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

/* Phần top_header */
header .header_top {
    background-color: #0d369e;
    padding-top: 10px;
    width: 100%;
}

header .header_top .header_top_content .header_top_left ul li {
    display: inline;
    margin-right: 20px;
    list-style: none;
}

header .header_top .header_top_content .header_top_left ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    line-height: 22.5px;
    transition: all 0.5s;
}

header .header_top .header_top_content .header_top_left ul li a:hover {
    color: #ff6f66;
}

header .header_top .header_top_content .header_top_left ul li i {
    color: white;
}

header .header_top .header_top_content .header_top_right ul li {
    display: inline;
    margin-right: 30px;
    list-style: none;
    font-size: 15px;
}

header .header_top .header_top_content .header_top_right ul li i {
    color: white;
    text-decoration: none;
    transition: all 0.5s;
}

header .header_top .header_top_content .header_top_right ul li i:hover {
    color: #ff6f66;
    cursor: pointer;
}

/* Reponsive header_top*/
@media (max-width: 1024px) {
    .header_top {
        display: none;
    }
}

/* Phần Header Bottom */
header .header_bottom {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-style: none;
    width: 100%;
    z-index: 9999;
}

header .header_bottom .header_bottom_left span {
    color: #0d369e;
    transition: all 0.1s;
}

header .header_bottom .header_bottom_left span:hover {
    color: #ff6f66;
    cursor: pointer;
}

header .header_bottom .header_bottom_left img {
    color: #0d369e;
}

header .header_bottom .header_bottom_left img:hover {
    cursor: pointer;
}

header .header_bottom .header_bottom_right a {
    line-height: 20px;
    transition: all 0.5s;
    font-size: 17px;
    font-weight: normal;
    color: #040a17;
    font-family: Montserrat;
}

header .header_bottom .header_bottom_right a:hover {
    color: #ff6f66;
    background-color: transparent;
}

header .header_bottom .header_bottom_right form input {
    padding: 10px 20px;
    margin-left: 20px;
    border-radius: 30px;
    border: 1px solid rgb(216, 210, 210);
    position: relative;
}

header .header_bottom .header_bottom_right input:hover {
    outline: none;
}

header .header_bottom .header_bottom_right form button {
    position: absolute;
    right: 60px;
    top: 20px;
    border-style: none;
    transition: all 0.5s;
    color: #0d369f;
}

header .header_bottom .header_bottom_right form button:hover {
    color: #ff6f66;
    background-color: transparent;
}

header .form-control:focus {
    border-color: transparent;
    box-shadow: inset 0 1px 1px rgba(243, 238, 238, 0.075), 0 0 8px rgb(250, 249, 249);
}

/* Menu fixed */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.95;
}

@media (max-width: 1024px) {
    header .header_bottom {
        position: absolute;
        background-color: transparent;
        color: #0d369e !important;
        font-weight: bolder;
    }

    header .header_bottom button {
        padding: 10px;
        opacity: 0.9;
    }

    .carousel {
        position: relative;
    }

}

/* Phần Dark - Light Theme
/* Light theme */
/* #myBody {
  background-color: white;
} */
#switchButton {
    border: 1px solid white;
    border-style: none;
    font-size: 20px;
    transition: all 0.5s;
}

#switchButton:hover {
    color: #ff6f66;
}

#switchButton .fa-sun {
    display: none;
}

#switchButton .fa-moon {
    display: block;
}

/* Dark Theme*/
.dark#myBody {
    background-color: #06152c;
    color: white;
}

.dark #switchButton {
    background-color: #06152c;
    border: 1px solid white;
    border-style: none;
    font-size: 20px;
}

.dark #switchButton .fa-sun {
    display: block;
    color: white;
    transition: all 0.5s;
}

.dark #switchButton .fa-sun:hover {
    color: #ff6f66;
}

.dark #switchButton .fa-moon {
    display: none;
}

/* Phần reponsive header_bottom */

@media (max-width: 1024px) {
    .header_bottom {
        background-color: transparent;
        position: absolute;
    }

    main {
        position: relative;
    }
}

/* Phần Footer */
footer {
    background-color: #060e1f;
    position: relative;
    width: 100%;
}

footer .footer_content {
    line-height: 45px;
    margin-top: 100px;
}

footer .footer_content .footer_item h2 {
    font-size: 20px;
    position: relative;
    margin-bottom: 25px;
}

footer .footer_content .footer_item p {
    line-height: 24px;
    color: #cecece;
}

footer .footer_content .footer_item a:hover {
    color: #fff;
}

footer .footer_content .footer_item .col-lg-4:hover a {
    color: #cecece;
}

footer .footer_content .footer_item h2::before {
    content: "";
    width: 100%;
    position: absolute;
    top: 35px;
    bottom: 0;
    left: 0;
    height: 1px;
    border-radius: 20px;
    background-color: #0d1e36;
}

footer .footer_content .footer_item:nth-child(4) {
    padding-left: 45px;
    position: relative;
}

footer .footer_content .footer_item:nth-child(4)::after {
    content: "";
    width: 0.1%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 300px;
    background-color: #0d1e36;
}

footer .footer_content .footer_item ul {
    padding-left: 0;
}

footer .footer_content .footer_item ul li {
    list-style: none;
}

footer .footer_content .footer_item ul li a {
    text-decoration: none;
    font-size: 15px;
    color: #cecece;
    ;
}

footer .footer_content .footer_item i {
    margin-right: 2px;
}

footer .footer_content .footer_item:nth-child(4) ul li {
    display: inline;
}

footer .footer_content .footer_item:nth-child(4) ul li i {
    border: 1px solid;
    border-style: none;
    background-color: #151c2c;
    border-radius: 50%;
    padding: 10px;
    font-size: 15px;
    text-align: center;
}

footer .footer_copyright {
    background-color: #040a17;
}

footer .footer_copyright p {
    color: #A0A0A0;
}

footer .footer_copyright a {
    text-decoration: none;
}

footer .footer_sub {
    padding: 45px;
    max-width: 950px;
    border-radius: 12px;
    position: absolute;
    margin: 0 auto;
    left: 20px;
    right: 20px;
    top: -100px;
    box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
}

footer .footer_sub .footer_sub_content_item_right {
    display: flex;
}

footer .footer_sub .footer_sub_content_item_right form {
    width: 100%;
}

footer .footer_sub .footer_sub_content_item_right form input {
    height: 50px;
    width: 100%;
    background: transparent;
    padding: 15px 20px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 15px;
    border: 1px solid #EEEEEE;
}

footer .footer_sub .footer_sub_content_item_right form input:hover {
    order: 1px solid #EEEEEE;
}

footer .footer_sub .footer_sub_content_item_right button {
    text-align: center;
    border: 1px solid;
    border-style: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px 20px;
    font-size: 20px;
    background-color: #0d369f;
    cursor: pointer;
}

footer .footer_sub .footer_sub_content_item_right input:focus {
    outline-color: #46d381
}

/* Phần Backtotop */
#goToTop {
    background-color: #0d369e;
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position: fixed;
    right: 15px;
    bottom: 99px;
    border-radius: 5px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    text-decoration: none;
}

#goToTop:hover {
    cursor: pointer;
    opacity: 0.6 !important;
}

#goToTop:active {
    background-color: #555;
}

#goToTop.show {
    opacity: 1;
    visibility: visible;
}

/* BLOG POSTS  */
.card {
    border: 1px solid grey;
    background-color: rgba(255, 255, 255, 0);
}

.blog .blog-post .post-left,
.blog .blog-post .post-right {
    margin-top: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.blog .blog-post .post-left .mb-3 {
    border: none;
}

.blog .blog-post .post-left .card {
    border-radius: 0px 0px 10px 10px;
}

.blog .blog-post .card .card-body {
    padding: 35px;
}

.blog .blog-post .card .card-body a {
    text-decoration: none;
    color: grey;
}

.blog .blog-post .post-left .card .card-body li a {
    color: #ff6e65;
}

.blog .blog-post .card .card-body ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.blog .blog-post .post-left .card .card-body ul i {
    color: #ff6e65;
}

.blog .blog-post .post-left .card .card-body h3 {
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    cursor: pointer;
}

.blog .card .card-body h3:hover {
    color: #ff6e65;
    transition: all .5s;
}

.blog .blog-post .post-right .right-slideBar {
    position: sticky;
    top: 100px;
}

.blog .blog-post .post-right .link-w3 a {
    font-size: 18px;
    color: #ff6e65;
    font-weight: 600;
}

.blog .blog-post .post-right ul li {
    line-height: 30px;
}

.blog .blog-post .post-right a:hover {
    text-decoration: underline;
    color: #ff6e65;
    transition: all .5s;
}

form .search-form {
    position: relative;
}

.search-submit {
    letter-spacing: 1px;
    border: none;
    height: 52px;
    position: absolute;
    right: 34px;
    top: 34px;
    width: 75px;
    font-size: 16px;
    color: #fff;
    transition: all 0.3s ease-in-out;
    background-color: navy;
    border-radius: 3px;
}

.search-form input[type="text"] {
    background-color: rgba(255, 255, 255, 0);
}

.search-submit:hover {
    background-color: #ff6e65;
}

.screen-reader-text {
    border: 0;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

.card-body .search-form input[type="text"] {
    font-size: 16px;
    border: 1px solid grey;
    color: grey;
    border-radius: 3px;
    height: 50px;
    padding: 10px;
    width: 80%;
    outline: none;
}

.search-form label {
    margin-bottom: 0;
    width: 100%;
}

nav .pagination .pageOne {
    background-color: #ff6e65;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    color: #fff;
    cursor: default;
}

nav .pagination .pageTwo {
    background-color: #ff6e65;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    color: #fff;
    cursor: default;
}

nav .pagination .pageTwo a:hover {
    cursor: default;
}

nav .pagination .page-item {
    color: grey;
}

nav .pagination li a {
    text-decoration: none;
    color: black;
    transition: all .5s;
    margin: 0;
}

nav .pagination li {
    border-radius: 50%;
    font-weight: 600;
    text-align: center;
    line-height: 45px;
    transition: all .5s;
    background-color: #ff6e6e transparent;
    width: 45px;
    height: 45px;
    cursor: pointer;
}

nav .pagination li:hover {
    border-radius: 50%;
    background-color: #ff6e65;
    color: #fff;
}

nav .pagination li:hover a {
    color: #fff;
}